<div class="container-fluid">
  <h1>Lista de discos</h1>
  <table class="table table-bordered" border="1">
    <thead>
      <th>Índice</th>
      <th>Disco</th>
      <th>Comandos</th>
    </thead>
    <tbody>
      <tr *ngFor="let disc of discs; index as index">
        <td>{{ index }}</td>
        <td>{{ disc.title }}</td>
        <td>
          <a [routerLink]="['/list', index]" rel="noopener noreferrer">{{
            disc.title
          }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
